# 编译输出
/dist
/node_modules

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# 测试
/coverage
/.nyc_output

# IDE
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 临时文件
*.swp
*.swo
*~
.tmp
.temp

# 打包文件
*.tgz
